<!DOCTYPE html>
<html>
  <head>
    <title>Mi Tienda</title>
    <nav>
      <%= link_to "Login", sign_in_path unless authenticated? %>
      <%= link_to "Home", root_path %>
      <%= button_to "Log out", sign_out_path, method: :delete if authenticated? %>
    </nav>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= javascript_importmap_tags %>
  </head>

  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>